---
import dayjs from "dayjs";
---

<footer class="py-4 text-center text-gray-400 text-sm">
  <a href="https://jaylin.wang/" target="_blank">jaylin.wang</a> &copy; {dayjs().year()} | Powered by <a
    href="https://astro.build/"
    target="_blank">Astro</a
  >
</footer>
